body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


#content {
    display: flex;
    flex-direction: row;
}

#about {
    flex: 1;
    display: flex;
}

.left-section {
    flex: 1;
    padding: 40px;
}

.right-section {
    flex: 1;
    padding: 40px;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bio h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.bio p {
    font-size: 16px;
    line-height: 1.5;
}

#skills h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

#skills ul {
    list-style-type: disc;
    padding-left: 20px;
}

#skills li {
    font-size: 16px;
    line-height: 1.5;
}

#experience h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.job h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.job ul {
    list-style-type: disc;
    padding-left: 20px;
}

.job li {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #888888;
}



#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.profile-picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
